
  body{
    /* background-color: #f8f8ff; */
    background-color: white;
    text-decoration: black;

  }
  
  a:link {
    font-family: 'Futura-CondensedMedium';
    text-decoration: none;
    font-weight: bold;
  }
  
  .Adarshlinkstyle {
    text-decoration: none;
    font-family: 'Futura-CondensedMedium';
  }

  
  
  
  /* Referred styles */
  
  
  
  @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
  .navbar {
    z-index: 99;
    max-width: 100vw;
    width: 100%;
    font-family: 'Futura-CondensedMedium';
    /* background-color: blue; */
    /* font-family: 'Courier New'; */
    align-items: center;
    font-weight: 200;
    z-index: 105;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
 
    display: "flex",
  
    
  
    
  }

  .navbar::before{
    opacity: .4; 
    background-color: blanchedalmond;
  }

  .navbar__link {
    display: inline-block;
    font-weight: 200;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    text-align: center;

  }
  .navbar__link:not(:first-child) {
    margin-left: 5vw;
  }


  
  .navbar__link:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -23px;
    width: 100%;
    height: 0;
    background-color: #F22222;
    text-decoration: none;
  }
  .navbar__link:hover {
    background-color: #F22222;
    transition: .3s;
  }
  .navbar__link:hover:after {
    /* height: 4px; */
    transition: .2s ease-out;
    text-decoration: none;
  }
  


  